.balsamiq-sans-regular {
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.shantell-sans-regular {
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BNCE" 0,
    "INFM" 0,
    "SPAC" 0;
}

.charm-background {
    background: linear-gradient(135deg, rgba(110, 143, 130, 0.73), rgba(110, 143, 130, 0.73)),
        radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(100, 146, 130, 0.63) 70%, rgba(34, 139, 34, 1) 100%),
        radial-gradient(circle at 25% 75%, #454c34 0%, rgba(51, 108, 128, 0.53) 50%, rgba(138, 43, 226, 1) 100%),
        radial-gradient(circle at 75% 25%, #76a544 0%, rgba(78, 60, 145, 0.9) 50%, rgba(218, 165, 32, 1) 100%),
        radial-gradient(circle at 0% 0%, #ab3874 0%, rgba(50, 128, 120, 0.54) 50%, rgba(255, 69, 0, 1) 100%),
        radial-gradient(circle at 100% 100%, #ac5742 0%, rgba(90, 156, 174, 0.72) 50%, rgba(255, 99, 71, 1) 100%);
    background-blend-mode: soft-light;
}

.charm-jumbotron {
    /* padding: 5.5rem 0 2rem 0; */
    padding: 2rem 0;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet) 1;
}

.charm-jumbotron-take {
    border: 0.25rem dashed rgba(255, 255, 255, 0.75);
    border-radius: 1rem;
    filter: drop-shadow(0 0 0.75rem crimson);
}

button.charm-jumbotron-take:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.charm-jumbotron span {
    filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.2));
}

.charm-shadow {
    filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.2));
}

.charm-underline-wavy {
    text-decoration: underline wavy #9b2e37;
}

.charm-header-border {
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet) 1;
    /* position: absolute;
    margin-top: 3.5rem; */
}

.navbar-brand {
    filter: drop-shadow(0 0 0.1rem rgba(255, 255, 255, 0.05));
}